.full-width-table{
    background-color: #0b1011;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flow-root;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/img/paddy one.jpg');
  }
  
  .btn{
    margin-top:8px;
    margin-left: 10px;
    margin-right: 10px;
}
.btn-round{
    min-width:160px;
    text-align: left;
    margin-top: 20px;
}
.page-header{
    justify-content: flex-start;
    align-items: flex-start;
    -ms-flex-pack: flex-start;
}


.profile{
    position:absolute;
    top:0;
    right:0;
    z-index: 3;
    padding: 10px;

}

.content{
    display: flex;
}

.left {
    min-height: 100%;


}
.right {
    flex-grow: 1;
    /* background-color:rgba(152, 231, 193, 0.5); */
    /* background-color: white; */
    min-height:600px;


}

.button-dashboard {
    text-align: center;
}

.dash-card{
    background:white; 
    margin: 5px; 
    height: 200px;
}

.spinner {
    border: 16px solid white;
    border-top: 16px solid #32c039;
    border-radius : 50%;
    width: 120px;
    height: 120px;
    animation: spin 800ms linear infinite;
    top: 40%;
    left: 45%;
    position: absolute;
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
