<div class="wrapper">
    <div class="full-width-table">
        <div class="filter"></div>
        <div class="content-center">
            <div class="spinner" *ngIf="loading"></div>
            <div class="container" *ngIf="!loading">
                <div class="row content">
                    <div class="profile" style="margin-top: 20px; padding-right: 80px;"></div>
                    <br>
                    <br>
                    <div class="motto left col-sm-12 col-md-2 col-lg-2">
                        <app-left-menu routename=""></app-left-menu>
                    </div>
                    <div class="motto right col-sm-12 col-md-10 col-lg-10" style="margin-top: 15px;">
                        <div class="row">
                            <div class="col-sm-4" ></div>
                            <div class="col-sm-7 ">
                                <h1>User Dashboard</h1>
                            </div>
                            <div class="col-sm-1 "></div>
                        </div>
                        <div class="row">
                            
                            <div class="col-sm-11 col-lg-5" style="padding:5px; opacity: 80%;">
                            
                                <mat-card>
                                    <mat-card-content>
                                        <table class="col-sm-12 col-lg-12">
                                            <tr>
                                                <td colspan="8" style="font-weight: bold;">Total Farmers </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{farmersAll}}</td>
                                            </tr>
                                        </table>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-sm-11 col-lg-5" style="padding:5px; opacity: 80%;">
                                <mat-card>
                                    <mat-card-content>
                                        <table class="col-sm-12 col-lg-12">
                                            <tr>
                                                <td colspan="8" style="font-weight: bold;">Total Fields </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{fieldsAll}}</td>
                                            </tr>
                                        </table>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 col-lg-5" style="padding:5px; opacity: 80%;"> 
                                <mat-card>
                                    <mat-card-content>
                                        <table class="col-sm-12 col-lg-12">
                                            <tr>
                                                <td colspan="8" style="font-weight: bold;">Total Requests </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{visitsAll + requestsAll}}</td>
                                            </tr>
                                        </table>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-sm-11 col-lg-5" style="padding:5px; opacity: 80%;">
                            </div>
                        </div>
                    <div class="row" style="margin-bottom: 30px;">
                            <div class="col-sm-11 col-lg-5" style="padding:5px; opacity: 80%;">
                                <mat-card>
                                    <mat-card-content>
                                        <table class="col-sm-12 col-lg-12">
                                            <tr>
                                                <td colspan="8" style="font-weight: bold;">Farmer Requests </td>
                                                <td colspan="4" style="text-align: center; font-weight: bold;"></td>
                                            </tr>
                                        </table>
                                    </mat-card-content>
                                    <canvas id="myCanvas" height="250px" [hidden]="hiddenRequestAll"></canvas>
                                    <br>
                                    <mat-card-content *ngIf="requestsAll > 0">
                                        <table class="col-sm-12 col-lg-12">
                                            <tr>
                                                <td colspan="8" style="font-weight: bold; padding: 5px;">Total Farmer Requests </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{requestsAll}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="font-weight: bold; padding: 5px;">Pending Requests </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{pendingRequests}} ({{pendingRequestsPrecentage}}%) </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="font-weight: bold; padding: 5px;">Confirmed Requests </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{confirmedRequests}} ({{confirmedRequestsPrecentage}}%) </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="font-weight: bold; padding: 5px;">Declined Requests </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{declinedRequests}} ({{declinedRequestsPrecentage}}%) </td>
                                            </tr>
                                        </table>
                                    </mat-card-content>
                                    <mat-card-content *ngIf="requestsAll == 0">
                                        <table class="col-sm-12 col-lg-12">
                                            <tr>
                                                <td colspan="8" style="font-weight: bold;  padding: 5px;">Total Farmer Requests </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">0</td>
                                            </tr><tr>
                                                <td colspan="8" style="font-weight: bold; padding: 5px;">Pending Requests </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{pendingRequests}} </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="font-weight: bold; padding: 5px;">Confirmed Requests </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{confirmedRequests}} </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="font-weight: bold; padding: 5px;">Declined Requests </td>
                                                <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{declinedRequests}} </td>
                                            </tr>
                                        </table>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        <div class="col-sm-11 col-lg-5" style="padding:5px; opacity: 80%;">
                            <mat-card>
                                <mat-card-content>
                                    <table class="col-sm-12 col-lg-12">
                                        <tr>
                                            <td colspan="8" style="font-weight: bold;">Field Visits </td>
                                            <td colspan="4" style="text-align: center; font-weight: bold;"></td>
                                        </tr>
                                    </table>
                                </mat-card-content>
                                <canvas id="myCanvas2" height="250px" [hidden]="hiddenVisitAll"></canvas>
                                <br>
                                <mat-card-content *ngIf="visitsAll != 0">
                                    <table class="col-sm-12 col-lg-12">
                                        <tr>
                                            <td colspan="8" style="font-weight: bold; padding: 5px;">Total Field Visits </td>
                                            <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{visitsAll}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" style="font-weight: bold; padding: 5px;">Completed Visits </td>
                                            <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{completedRequests}} ({{completedRequestsPrecentage}}%) </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" style="font-weight: bold; padding: 5px;">Processing Visits </td>
                                            <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{processingRequests}} ({{processingRequestsPrecentage}}%) </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" style="font-weight: bold; padding: 5px;">&nbsp;</td>
                                            <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">&nbsp;</td>
                                        </tr>
                                    </table>
                                </mat-card-content>
                                <mat-card-content *ngIf="visitsAll == 0">
                                    <table class="col-sm-12 col-lg-12">
                                        <tr>
                                            <td colspan="8" style="font-weight: bold;  padding: 5px;">Total Field Visits </td>
                                            <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">0</td>
                                        </tr><tr>
                                            <td colspan="8" style="font-weight: bold; padding: 5px;">Completed Visits </td>
                                            <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{completedRequests}} </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" style="font-weight: bold; padding: 5px;">Processing Visits </td>
                                            <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">{{processingRequests}} </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" style="font-weight: bold; padding: 5px;">&nbsp;</td>
                                            <td colspan="4" style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px;">&nbsp;</td>
                                        </tr>
                                    </table>
                                </mat-card-content>
                            </mat-card>
                        </div>
                </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>