.btn{
    margin-top:8px;
    margin-left: 10px;
    margin-right: 10px;
}
.btn-round{
    min-width:160px;
    text-align: left;
    margin-top: 20px;
}
.page-header{
    justify-content: flex-start;
    align-items: flex-start;
    -ms-flex-pack: flex-start;
}
.container{
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color:rgba(115, 158, 138, 0.5); */
    padding:0;
    margin:0;
    margin-top: 70px;
    min-height:100%;
    min-width:100%;
    
}

.profile{
    position:absolute;
    top:0;
    right:0;
    z-index: 3;
    padding: 10px;

}

.content{
    display: flex;
}

.left {
    min-height: 100%;


}
.right {
    flex-grow: 1;
    /* background-color:rgba(152, 231, 193, 0.5); */
    /* background-color: white; */
    min-height:600px;


}

.button-dashboard {
    text-align: center;
}

.dash-card{
    background:white; 
    margin: 5px; 
    height: 200px;
}

.spinner {
    border: 16px solid white;
    border-top: 16px solid #32c039;
    border-radius : 50%;
    width: 120px;
    height: 120px;
    animation: spin 800ms linear infinite;
    top: 40%;
    left: 45%;
    position: absolute;
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
