table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  ngb-progressbar {
    margin-top: 5rem;
}
.filters{
  display: inline-flex;
  align-items: center;
  background-color:transparent;
  float: left;
}
.transparent{
  background-color:transparent;
}
  
.background{
  color: white;
}
.mat-row.highlighted {
  background: lightgreen;
  }
  .mat-icon {
    font-size: 15px;
  }
.title-brand{
  text-transform:uppercase;
  font-weight: bold;
}
.title-brand2{
  text-transform:uppercase;
  font-weight: bold;
  text-align: left;
  color: white;
  margin-bottom:20px;
  /* margin-top:25px; */
  background-color:rgba(152, 231, 193, 0.5);
  /* padding-top:20px; */

}
.toggle{
  text-transform:uppercase;
  /* align-content: left; */
}
.mat-button-toggle-group {
  height: 32px;
  align-items: center;
}
.labels{
  display: inline-flex;
  align-items: center;
float: right;}

.label-bar{
  width: 100%;
  display: flex;
}
.left{
  flex:1;
}
.right{
  font-weight: bold;
}
.btn{
  color: #000;
  /* padding:-5px; */

}

.request{
  border-color: white;
  color: white;
  margin-bottom:15px;

}
.request:hover, .btn:focus {
  background-color: rgb(213, 231, 252);
}