table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  ngb-progressbar {
    margin-top: 5rem;
}
  
.mat-row.highlighted {
  background: lightgreen;
  }
  .mat-icon {
    font-size: 15px;
  }
.title-brand{
  text-transform:uppercase;
  font-weight: bold;
}
.toggle{
  text-transform:uppercase;
  align-content: left;
}
.mat-button-toggle-group {
  height: 32px;
  align-items: center;
}
