table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  ngb-progressbar {
    margin-top: 5rem;
}
  
.mat-row.highlighted {
  background: lightgreen;
  }
