.spinner {
    border: 16px solid white;
    border-top: 16px solid #32c039;
    border-radius : 50%;
    width: 120px;
    height: 120px;
    animation: spin 800ms linear infinite;
    top: 40%;
    left: 45%;
    position: absolute;
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}