<div class="wrapper">

    <div class="page-header section-dark" style="background-image: url('./assets/img/paddy field.jpg')">
        <div class="filter"></div>
        <div class="section profile-content">
            <div class="container">


                <div class="name">
                    <h6>Field Visit Details</h6>
                </div>
                <!-- <div>  <label class="label label-primary right">{{fieldVisit.status}}</label><br />
                </div> -->


                <div class="row">
                    <div > <label class="label label-primary">{{fieldVisit.status}}</label><br />
                    </div>

                    <div class="form-group element">
                        <label class="name">Field Reg No : </label>
                        <input type="text" class="form-control" value={{fieldVisit.registrationNo}}>
                    </div>


                    <div class="form-group element">
                        <label class="name">Address : </label>
                        <input type="text" class="form-control" value={{fieldVisit.address}}>
                    </div>


                    <div class="form-group element">
                        <label class="name">Farmer : </label>
                        <input type="text" class="form-control" value={{fieldVisit.farmerName}}>
                    </div>

                    <div class="form-group element">
                        <label class="name">Division : </label>
                        <input type="text" class="form-control" value={{fieldVisit.division}}>
                    </div>

                    <div class="form-group element">
                        <label class="name">Date : </label>
                        <input type="text" class="form-control" value={{fieldVisit.date}}>
                    </div>

                    <div class="form-group element">
                        <label class="name">Request Note : </label>
                        <input type="text" class="form-control" value={{fieldVisit.requestNote}}>
                    </div>

                    <!-- <div class="col-sm-3">
                        <div class="form-group has-success">
                            <input type="text" class="form-control form-control-success" id="inputSuccess1" value="Success">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group has-danger">
                            <input type="text" class="form-control form-control-danger" id="inputDanger1" value="Error">
                            <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false" >
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-group" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="left">
                    <!-- <button class="btn btn-outline-default btn-round update"> Update</button>
                    <button class="btn btn-outline-default btn-round cancel"> Cancel</button> -->
                    <button class="btn btn-outline-default btn-round request"> View All Requests</button>
                </div>
            </div>
        </div>
    </div>
</div>