.dropbtn {
    background-color: white;
    color: #d2d2d2;
    padding: 16px;
    // font-size: 16px;
    border: transparent;
    cursor: pointer;
    font-weight: 100;
    outline: transparent; 
    color: black; 
    width: 200px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f30e0e;
    // min-width: 160px;
    min-width: 250px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
    width: 20px;
  }
  
  .dropdown:hover{
    background-color: #9DC59D;
  }

  .dropdown-scrollbar
{
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

.dropdown-list{
  width: 2000px;
}

.spinner {
  border: 16px solid white;
  border-top: 16px solid #32c039;
  border-radius : 50%;
  width: 120px;
  height: 120px;
  animation: spin 800ms linear infinite;
  top: 40%;
  left: 45%;
  position: absolute;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}