<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/paddy field.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                        class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{user.firstName}}&nbsp;{{user.lastName}}<br /></h4>
                    <h6 class="description">{{user.email}}</h6>
                    <h6 class="description">{{user.phone}}</h6><br />
                    <!-- <h6 class="description">{{user.nic}}</h6> -->
                </div>

            </div>
            <div class="row">
                <!-- <p>NIC : {{user.nic}}</p> -->

                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>NIC : {{user.nic}}</p>
                    <p>Province : {{user.province}}</p>
                    <p>District : {{user.district}}</p>
                    <p>Division : {{user.division}}</p>
                    <p>Requested Time : {{user.time}}</p>
                    <br />
                    <!-- <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button> -->
                </div>

            </div>
            <div class="actions">
                <button type="button" class="btn btn-outline-neutral btn-round accept"
                    (click)="accept()">Accept</button><br />
                <button *ngIf="user.status=='pending'" type="button" class="btn btn-outline-neutral btn-round decline"
                    (click)="decline()">Decline</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round delete"
                    (click)="delete()">Delete</button><br />
            </div>
            <br />
        </div>
    </div>
</div>