table {
    width: 100%;
  }

  .full-width-table{
    background-color: #0b1011;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flow-root;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/img/paddy one.jpg');
  }

  ::ng-deep  .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }

  #fieldInput{
    width: 200px;
  }

  .mat-paginator {
    background-color: #CEDCC3;
  }

  th{
    font-size: 15px;
    background-color: #CEDCC3;
    /* width: 25%; */
  }

  td{
    text-align: center;
  }

  .label-styles{
    padding:10px;
    margin-right: 5px;
  }