<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/paddy one.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div>
                    <div class="title-brand"><label>Fields</label></div>
                    <div class="toggle label-bar">
                        <div class="left">
                            <div class="filters">
                                <div class="input-group form-group-no-border transparent" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="dropdown">

                                        <select class="dropbtn" name="dropdownProvince" id="dropdownProvince" [(ngModel)]="provinceSelected" (ngModelChange)="onProvinceSelected($event)" style="padding-top: 0px; ">
        
                                            <option [value]="none" disabled selected hidden>Province</option>
                                            <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
                                        </select>
                                        <!-- </div> -->
                                    </div>
                                </div>
                                <div class="input-group form-group-no-border transparent" [ngClass]="{'input-group-focus':focus1===true}" style="padding-left: 15px; ">
                                    <div class="dropdown">

                                        <select class="dropbtn" name="dropdownDistrict" id="dropdownDistrict" [(ngModel)]="districtSelected" (ngModelChange)="onDistrictSelected($event)" [value]="none" style="padding-top: 0px; ">
        
                                            <option [value]="none" disabled selected hidden>District</option>
                                            <option *ngFor="let district of districts" [value]="district">{{district}}</option>
                                        </select>
                                        <!-- </div> -->
                                    </div>
                                </div>
                                <div class="input-group form-group-no-border transparent" [ngClass]="{'input-group-focus':focus1===true}" style="padding-left: 15px; padding-right: 30px;">
                                    <div class="dropdown">

                                        <select class="dropbtn" name="dropdownDivision" id="dropdownDivision" [(ngModel)]="divisionSelected" (ngModelChange)="onDivisionSelected($event)" style="padding-top: 0px;">
        
                                            <option [value]="none" disabled selected hidden>Division</option>
                                            <option *ngFor="let division of divisions" [value]="division">{{division}}</option>
                                        </select>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="labels">
                            <label class="label label-info right">Fields : {{fields.length}}</label>&nbsp;

                        </div>
                    </div>

                    <div class="label-bar2">

                        <!-- <div class="title-brand-left"> -->
                        <mat-form-field appearance="standard" class="print">
                            <mat-label class="background">Filter</mat-label>
                            <input class="background" matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>

                        </mat-form-field>
                        <button class="btn btn-outline-success btn-round" (click)="exporter.exportTable('csv', {fileName:getFileName()})">Print</button>


                    </div>


                    <div class="mat-elevation-z8">
                        <mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter" [hiddenColumns]="[6,7]">
                            <!-- <table mat-table [dataSource]="dataSource" matSort> -->
                            <!-- ID Column -->
                            <ng-container matColumnDef="registrationNumber">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reg No </th>
                                <td mat-cell *matCellDef="let row"> {{row.registrationNumber}}&nbsp;&nbsp;
                                </td>
                            </ng-container>
                            <!-- ID Column -->
                            <ng-container matColumnDef="field.address">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                                <td mat-cell *matCellDef="let row"> {{row.address}}&nbsp;&nbsp;
                                </td>
                            </ng-container>

                            <!-- Fruit Column -->
                            <ng-container matColumnDef="farmer">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Farmer </th>
                                <td mat-cell *matCellDef="let row"> {{row.farmer}} </td>
                            </ng-container>
                            <ng-container matColumnDef="province">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Province </th>
                                <td mat-cell *matCellDef="let row"> {{row.province}} </td>
                            </ng-container>
                            <ng-container matColumnDef="district">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> District </th>
                                <td mat-cell *matCellDef="let row"> {{row.district}} </td>
                            </ng-container>
                            <!-- Fruit Column -->
                            <ng-container matColumnDef="division">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
                                <td mat-cell *matCellDef="let row"> {{row.division}} </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="action">
                            <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
                            <tr>
                              <td mat-cell *matCellDef="let row" style="width:20%">
                                <button mat-icon-button color="primary" (click)="viewContact(row)" title="View Contact"><mat-icon>preview</mat-icon></button>
=                              </td>
                            <tr>
                          </ng-container> -->
                            <!-- action -->
                            <ng-container matColumnDef="view">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                                <td mat-cell *matCellDef="let element">

                                    <button mat-icon-button color="primary" (click)="viewField()" aria-label="Example icon button with a home icon">
                                        <mat-icon [ngStyle]="{'color':'blue'}">visibility</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                                <td mat-cell *matCellDef="let element">

                                    <button mat-icon-button color="primary" (click)="deleteField()" aria-label="Example icon button with a home icon">
                                        <mat-icon [ngStyle]="{'color':'red'}">delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{highlighted: selectedRowIndex == row.id}" (click)="getRecord(row)"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[5,6,7,8,9,10,15,20, 25,50, 100]" aria-label="Select page of Fields"></mat-paginator>
                    </div>


                    <!-- Copyright 2021 Google LLC. All Rights Reserved.
                          Use of this source code is governed by an MIT-style license that
                          can be found in the LICENSE file at https://angular.io/license -->

                    <!-- <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div> -->
                    <!-- <h1 class="presentation-title">Drone project</h1> -->
                    <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div> -->
                </div>

            </div>
        </div>

    </div>

</div>