<div class="page-header" style="background-image: url('assets/img/paddy one.jpg');">
    <div class="filter"></div>
    <div class="container">

        <div class="content">
            <div *ngIf="type!='reports'" class="motto left">
                <!-- <button type="button" class="btn btn-outline-neutral btn-round" (click)="viewRequests()">Farmer
                    Requests</button><br /> -->
                <button type="button" class="btn btn-outline-neutral btn-round" (click)="viewDivisions()">Divisions</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round" (click)="viewOfficerRequests()">Officer
                    Requests</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round" (click)="viewOfficers()">Officers</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round" (click)="viewUsers()">Farmers</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round" (click)="viewFields()">Fields</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round" (click)="viewFieldVisitRequests()">Field
                    Visit Requests</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round" (click)="viewFieldVisits()">Field
                    Visits</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round" (click)="viewReports()">Reports</button><br />


            </div>
            <div *ngIf="type=='reports'" class="motto left">


                <button type="button" (click)="divisionReports()" class="btn btn-outline-neutral btn-round btn2">Division Reports</button><br />
                <button type="button" (click)="officerReports()" class="btn btn-outline-neutral btn-round btn2">Officer Reports</button><br />
                <button type="button" (click)="farmerReports()" class="btn btn-outline-neutral btn-round btn2">Farmer Reports</button><br />
                <button type="button" (click)="fieldReports()" class="btn btn-outline-neutral btn-round btn2">Field Reports</button><br />
                <button type="button" (click)="requestReports()" class="btn btn-outline-neutral btn-round btn2">Visit Request Reports</button><br />
                <button type="button" (click)="visitReports()" class="btn btn-outline-neutral btn-round btn2">Field Visit Reports</button><br />
                <div class="icon">
                    <button type="button" class="btn btn-default btn-just-icon" (click)="viewNav()"> <i
                            class="fa fa-angle-double-up" aria-hidden="true"></i></button>
                    <br />

                </div>
            </div>
            <div class="motto right">
                <div class="row" style="padding-left:25px;">
                    <!-- <div class="col-sm-1"></div> -->
                    <div style="padding:5px; opacity: 80%; width :16%;">
                        <mat-card>
                            <mat-card-content>
                                <table>
                                    <tr>
                                        <td style=" font-weight: bold; "> Provinces </td>
                                        <td style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px; ">{{this.provinces.size}}</td>
                                    </tr>
                                </table>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div style="padding:5px; opacity: 80%; width :16%; height: 15px ">
                        <mat-card>
                            <mat-card-content>
                                <table>
                                    <tr>
                                        <td style="font-weight: bold; "> Districts </td>
                                        <td style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px; ">{{this.districts.size}}</td>
                                    </tr>
                                </table>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div style="padding:5px; opacity: 80%; width :16%; height: 15px ">
                        <mat-card>
                            <mat-card-content>
                                <table>
                                    <tr>
                                        <td style=" font-weight: bold; "> Divisions </td>
                                        <td style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px; ">{{this.divisions.size}}</td>
                                    </tr>
                                </table>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div style="padding:5px; opacity: 80%; width :16%; height: 15px ">
                        <mat-card>
                            <mat-card-content>
                                <table>
                                    <tr>
                                        <td style="font-weight: bold; "> Ag. Officers </td>
                                        <td style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px; ">{{this.officers.length}}</td>
                                    </tr>
                                </table>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div style="padding:5px; opacity: 80%; width :16%; height: 15px ">
                        <mat-card>
                            <mat-card-content>
                                <table>
                                    <tr>
                                        <td style="font-weight: bold; "> Farmers </td>
                                        <td style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px; ">{{this.farmers.length}}</td>
                                    </tr>
                                </table>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div style="padding:5px; opacity: 80%; width :16%; height: 15px ">
                        <mat-card>
                            <mat-card-content>
                                <table>
                                    <tr>
                                        <td style="font-weight: bold; "> Fields </td>
                                        <td style="text-align: right; font-weight: bold; padding: 5px; padding-right: 15px; ">{{this.farmers.length}}</td>
                                    </tr>
                                </table>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="isLoaded && isLoaded2 && isLoaded3 && isLoaded4 && isLoaded5" class="row" style="padding-left:25px;">

                    <div style=" opacity: 80%; width:30%; height:30% ; background-color: rgb(253, 253, 253); margin:10px">
                        <div style="display: block; ">
                            <canvas id="chart4" baseChart [datasets]="nChartData " [labels]="nChartLabels " [options]="options " [legend]="'true' " [chartType]="'doughnut' ">
                            </canvas>
                        </div>
                    </div>
                    <div style=" opacity: 80%; width:30%; height:30% ; background-color: rgb(253, 253, 253); margin:10px ">
                        <div style="display: block; ">
                            <canvas id="chart5 " baseChart [datasets]="nChartData2 " [labels]="nChartLabels2 " [options]="options " [legend]="'true'  " [chartType]="'line' ">
                            </canvas>
                        </div>
                    </div>

                    <div style=" opacity: 80%; width:30%; height:30% ; background-color: rgb(255, 255, 255); margin:10px ">
                        <div style="display: block; ">
                            <canvas id="chart3 " baseChart [datasets]="farmerChartData " [labels]="farmerChartLabels " [options]="options " [legend]="'true'  " [chartType]="'line'  ">
                            </canvas>
                        </div>
                    </div>

                    <div style=" opacity: 80%; width:30%; height:30% ; background-color: rgb(253, 253, 253); margin:10px ">
                        <div style="display: block; ">
                            <canvas id="chart5 " baseChart [datasets]="reqChartData " [labels]="reqChartLabels " [options]="options " [legend]="'true'  " [chartType]="'doughnut'  ">
                            </canvas>
                        </div>
                    </div>
                    <div style=" opacity: 80%; width:30%; height:30% ; background-color: rgb(255, 255, 255); margin:10px ">
                        <div style="display: block; ">
                            <canvas id="chart2 " baseChart [datasets]="fieldVisitReqChartData " [labels]="fieldVisitReqChartLabels " [options]="options " [legend]="'true'  " [chartType]="'line'  ">
                            </canvas>
                        </div>
                    </div>
                    <div style=" opacity: 80%; width:30%; height:30% ; background-color: rgb(255, 255, 255); margin:10px ">
                        <div style="display: block; ">
                            <canvas id="chart3 " baseChart [datasets]="officerChartData " [labels]="officerChartLabels " [options]="options " [legend]="'true'  " [chartType]="'line'  ">
                            </canvas>
                        </div>
                    </div>
                    <!-- <div style=" opacity: 80%; width:30%; height:30% ; background-color: rgb(253, 253, 253); margin:10px ">
                        <div style="display: block; ">
                            <canvas id="chart1 " baseChart [datasets]="fieldVisitChartData " [labels]="fieldVisitChartLabels " [options]="options " [legend]="fieldVisitChartLegend " [chartType]="fieldVisitChartType ">
                            </canvas>
                        </div>
                    </div> -->





                </div>
                <!-- <div class="row " style="padding-left:25px; ">

                </div> -->
            </div>

        </div>
    </div>