.btn{
    margin-top:8px;
    margin-left: 10px;
    margin-right: 10px;
}
.btn-round{
    min-width:180px;
    text-align: left;
    margin-top: 20px;
}
.btn2{
    min-width:200px;
}
.page-header{
    justify-content: flex-start;
    align-items: flex-start;
    -ms-flex-pack: flex-start;
}
.container{
    justify-content: flex-start;
    align-items: flex-start;
    background-color:rgba(115, 158, 138, 0.5);
    padding:0;
    margin:0;
    margin-top: 70px;
    min-height:100%;
    min-width:100%;
    
}

.profile{
    position:absolute;
    top:0;
    right:0;
    z-index: 3;
    padding: 10px;
}

.content{
    display: flex;
}

.left {
    min-height: 100%;


}
.right {
    flex-grow: 1;
    background-color:rgba(152, 231, 193, 0.5);
    min-height:600px;

}
.icon{
    padding-top: 5px;
    text-align: center;
}
