<div class="page-header" style="background-image: url('assets/img/paddy one.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="profile">
            <button type="button" class="btn btn-info btn-outline-neutral btn-just-icon"><i
                    class="fa fa-user"></i></button>
        </div>
        <div class="content">
            <div class="motto left">
                <button type="button" class="btn btn-outline-neutral btn-round">Download</button><br />

                <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round">Download</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round">Download</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round">Download</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round">Download</button><br />
                <button type="button" class="btn btn-outline-neutral btn-round">Download</button><br /> -->
            </div>
            <div class="motto right">
                <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button><br /> -->

            </div>
        </div>

    </div>
</div>