<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/paddy field.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img [(src)]="this.user.image" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <br>
                <div style="align-content: center;">
                    <h2 class="title" aria-disabled style="font-size: x-large;">{{fullName}}<br></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-sm-1"></div>
                <div class="col-lg-6 col-sm-6" style="padding-bottom: 0px; height: 370px;">
                  <div class="card-register" style="margin-top: 0px; padding-top: 0px; align-items: center; padding-bottom: 0px;">
                      <form class="register-form" style="width: 800px;">
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-circle-10"></i>
                              </span>
                            </div>
                              <input type="text" class="form-control" placeholder="First Name" (focus)="focus1=true" (blur)="focus1=false" name="firstName" id="firstName" [(ngModel)]="user.firstName" style="font-size: medium;"  disabled>
                          </div>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-circle-10"></i>
                              </span>
                            </div>
                              <input type="text" class="form-control" placeholder="Last Name" (focus)="focus=true" (blur)="focus=false" id="lastName" name="lastName" [(ngModel)]="user.lastName" style="font-size: medium;" disabled>
                          </div>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-circle-10"></i>
                              </span>
                            </div>
                              <input type="text" class="form-control" placeholder="Role" (focus)="focus=true" (blur)="focus=false" id="userRole" name="userRole" [(ngModel)]="user.userRole" style="font-size: medium;" disabled>
                          </div>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-pin-3"></i>
                              </span>
                            </div>
                              <input type="text" class="form-control" placeholder="Province" (focus)="focus=true" (blur)="focus=false" id="province" name="province" [(ngModel)]="user.province" style="font-size: medium;" disabled>
                          </div>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-pin-3"></i>
                              </span>
                            </div>
                              <input type="text" class="form-control" placeholder="District" (focus)="focus=true" (blur)="focus=false" id="district" name="district" [(ngModel)]="user.district" style="font-size: medium;" disabled>
                          </div>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-pin-3"></i>
                              </span>
                            </div>
                              <input type="text" class="form-control" placeholder="Division" (focus)="focus=true" (blur)="focus=false" id="division" name="division" [(ngModel)]="user.division" style="font-size: medium;" disabled>
                          </div>
                         <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-badge"></i>
                              </span>
                            </div>
                              <input type="text" class="form-control" placeholder="NIC" (focus)="focus=true" (blur)="focus=false" id="nic" name="nic" [(ngModel)]="user.nic" style="font-size: medium;" disabled>
                          </div>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-mobile"></i>
                              </span>
                            </div>
                              <input type="text" class="form-control" placeholder="Phone" (focus)="focus=true" (blur)="focus=false" id="phone" name="phone" [(ngModel)]="user.phone" style="font-size: medium;" disabled>
                          </div>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-email-85"></i>
                              </span>
                            </div>
                              <input type="text" class="form-control" placeholder="E-mail" (focus)="focus1=true" (blur)="focus1=false" name="email" id="email" [(ngModel)]="user.email" style="font-size: medium;" disabled>
                          </div>
                      </form>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="row" style="margin-left: 20px;">
                        <button class="btn btn-outline-default btn-block btn-round" style="width: 400px;" (click)="onDashboardClick()">Dashboard</button>
                        <button class="btn btn-outline-default btn-block btn-round" style="width: 400px;" (click)="onUpdateClick()">Update Profile</button>
                        <!-- <button class="btn btn-outline-default btn-block btn-round" style="width: 400px;" >change credentials</button>
                        <button class="btn btn-outline-default btn-block btn-round" style="width: 400px;" (click)="onLccDetailsClick()">Change LCC details</button> -->
                        <button class="btn btn-outline-default btn-block btn-round" style="width: 400px;" (click)="onLccDetailsClick()">Change LCC details</button>
                        <button class="btn btn-outline-default btn-block btn-round" style="width: 400px;" (click)="onLogoutClick()">log out</button>
                      </div>
                </div>
                <div class="col-lg-1 col-sm-1"></div>
            </div>
        </div>
    </div>
</div>