table {
    width: 100%;
  }

  ::ng-deep  .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }

  #fieldInput{
    width: 200px;
  }

  .mat-paginator {
    background-color: #CEDCC3;
  }

  th{
    font-size: 15px;
    background-color: #CEDCC3;
    /* width: 25%; */
  }

  /* td{
    text-align: center;
  } */

  .label-styles{
    padding:10px;
    margin-right: 5px;
  }

  .mat-icon {
    font-size: 15px;
  }

  .td-cell-fieldName-more{
    width: 27%; 
    color: black; 
    font-weight: 40px; 
    font-size: medium; 
    text-align: left; 
    padding-left: 20px;
}

.td-cell-fieldName{
    width: 25%; 
    color: black; 
    font-weight: 40px; 
    font-size: medium; 
    text-align: left; 
    padding-left: 20px;
}

.td-cell-input-more{
    width: 73%; 
}

.td-cell-input{
    width: 75%; 
}

.label-success-our-light{
  background-color: #A5D647;
}

.label-success-our-normal{
  background-color: #4CAF50;
}  

.label-success-our-dark{
  background-color: #2E7D32;
}

.label-danger-our-light{
  background-color: #FFAB91;
}

.label-danger-our-dark{
  background-color: #E65100;
}

.label-default-our-light{
  background-color: #FFAB91;
}

.label-default-our-dark{
  background-color: #524d48;
}

.label-warning-our-light{
  background-color: #FFAB91;
}

.label-warning-our-dark{
  background-color:  #c79734;
}

.innertable, .innerth, .innertd {
  /* border: 1px solid black;
  border-collapse: collapse; */
  background-color: #CEDCC3;
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #2E7D32;
  border-radius : 50%;
  width: 120px;
  height: 120px;
  animation: spin 800ms linear infinite;
  top: 40%;
  left: 45%;
  position: absolute;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
