<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/paddy one.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div>
                    <div class="title-brand">
                        <h1>Farmers Details</h1>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <label style="color:white">Province : </label>
                            <input type="text" id="province" value="Province" [(ngModel)]="this.user.province" class="form-control form-control-danger" style="text-align: center;" disabled>
                        </div>
                        <div class="col-sm-4">
                            <label style="color:white">District : </label>
                            <input type="text" id="district" value="District" [(ngModel)]="this.user.district" class="form-control form-control-danger" style="text-align: center;" disabled>
                        </div>
                        <div class="col-sm-4">
                            <label style="color:white">Division : </label>
                            <input type="text" id="division" value="Division" [(ngModel)]="this.user.division" class="form-control form-control-danger" style="text-align: center;" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field id="fieldInput" >
                                <input class="form-control" (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter" >
                            </mat-form-field>
                            <br>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8" style="padding-top: 25px; padding-bottom: 25px; padding-right: 0px; text-align: right; ">
                            <label class="label label-default right label-styles">all : {{all}}</label>&nbsp;
                            <label class="label label-success right label-styles">pending : {{pending}}</label>&nbsp;
                            <label class="label label-warning right label-styles" style="margin-right: 10px;">declined : {{declined}}</label>&nbsp;
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort>
                                <!-- <table mat-table [dataSource]="dataSource" matSort > -->

                                    <!--- Note that these columns can be defined in any order.
                                          The actual rendered columns are set as a property on the row definition" -->
                                  
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="week">
                                      <!-- <th mat-header-cell *matHeaderCellDef > Week </th> -->
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 19%;"> Week </th>
                                      <td mat-cell *matCellDef="let element"> {{element.week}} </td>
                                    </ng-container>
                                  
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="levelOne">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 27%; ">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Level One </th>
                                      <td mat-cell *matCellDef="let element"> <input type="text" id="levelOne" name="levelOne" [(ngModel)]="element.levelOne" id="levelOne" style="text-align: center; margin-right: 5px; margin-left: 5px;"> </td>
                                    </ng-container>
                                  
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="levelTwo">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 27%;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Level Two </th>
                                      <td mat-cell *matCellDef="let element"> <input type="text" id="levelTwo" name="levelTwo" [(ngModel)]="element.levelTwo" id="levelTwo" style="text-align: center; margin-right: 5px; margin-left: 5px;"> </td>
                                    </ng-container>
                                  
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="levelThree">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 27%;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Level Three </th>
                                      <td mat-cell *matCellDef="let element"> <input type="text" id="levelThree" name="levelThree" [(ngModel)]="element.levelThree" id="levelThree" style="text-align: center; margin-right: 5px; margin-left: 5px;"> </td>
                                    </ng-container>
                                  
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
                                    <tr mat-row (change)="onChange(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>
                                  <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of Fields" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>
                    <!-- <br>
                    <div class="row" style="padding-left: 480px;">
                        <button class="btn btn-outline-success btn-round" style="width: 100px;" (click)="onSaveClick()">Save</button>
                        <button class="btn btn-outline-default btn-round" style="width: 100px;" (click)="onCancelClick()">cancel</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>