<div class="wrapper">

    <div class="page-header section-dark" style="background-image: url('./assets/img/paddy field.jpg')">
        <div class="filter"></div>
        <div class="section profile-content">
            <div class="container">
                <div class="owner">

                    <div class="name">
                        <!-- <h4 class="title">{{field.firstName+" "+field.lastName}}<br /></h4>
                    <h6 class="description">{{field.email}}</h6> -->
                        <h6 class="description">{{field.registrationNumber}}</h6><br />
                        <!-- <h6 class="description">{{field.nic}}</h6> -->
                    </div>
                </div>
                <div class="row">
                    <!-- <p>NIC : {{field.nic}}</p> -->

                    <div class="ml-auto mr-auto container">
                        <p>Reg No : {{field.registrationNumber}}</p>
                        <p>Address : {{field.address}}</p>
                        <p>Farmer : {{field.farmer}}</p>
                        <p>Division : {{field.division}}</p>
                        <br />
                        <!-- <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button> -->
                    </div>
                    
                </div>
                <br />
            </div>
        </div>
    </div>