.input-image {
    display: none;
}

.center {
    align-items: center;
}

.outer {
    align-items: center;
}

.outerDiv {
    width: 100%;
    text-align: center;
}

.innerDiv {
    display: inline-block;
    margin: 0 auto;
}

.image-upload-container {
    cursor: pointer;
}

.dropbtn {
    background-color: white;
    color: #d2d2d2;
    padding: 16px;
    /* // font-size: 16px; */
    border: transparent;
    cursor: pointer;
    font-weight: 100;
    outline: transparent;
    color: black;
    width: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f30e0e;
    /* min-width: 160px; */
    min-width: 250px;
    /* // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 20px;
}

.dropdown:hover {
    background-color: #9DC59D;
}

.dropdown-scrollbar {
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

.dropdown-list {
    width: 2000px;
}

:disabled {
    background-color: white;
}