table {
    width: 100%;
  }

  ::ng-deep  .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }

  #fieldInput{
    width: 200px;
  }

  .mat-table {
    /* outline-bott: 2px solid purple; */
  }

  .mat-paginator {
    background-color: #CEDCC3;
  }

  th{
    font-size: 15px;
    background-color: #CEDCC3;
    /* width: 25%; */
  }

  td{
    text-align: center;
  }


  .spinner {
    border: 16px solid silver;
    border-top: 16px solid #2E7D32;
    border-radius : 50%;
    width: 120px;
    height: 120px;
    animation: spin 800ms linear infinite;
    top: 40%;
    left: 45%;
    position: absolute;
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}