<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/paddy one.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div>
                    <div class="title-brand">
                        <h1>LCC Details</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" id="inputDanger1" value="hello" class="form-control form-control-danger" disabled>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" id="inputDanger1" value="hello" class="form-control form-control-danger" disabled>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" id="inputDanger1" value="hello" class="form-control form-control-danger" disabled>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <mat-form-field id="fieldInput" >
                                <input class="form-control" (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter" >
                            </mat-form-field>
                            <br> -->
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort >

                                    <!--- Note that these columns can be defined in any order.
                                          The actual rendered columns are set as a property on the row definition" -->
                                  
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="position">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                    </ng-container>
                                  
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                  
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="weight">
                                      <th mat-header-cell *matHeaderCellDef> Weight </th>
                                      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                    </ng-container>
                                  
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="symbol">
                                      <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                    </ng-container>
                                  
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row (click)="clickOn(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>
                                  <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of Fields" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>