<div class="wrapper">

    <div class="page-header section-dark" style="background-image: url('./assets/img/paddy field.jpg')">
        <div class="filter"></div>
        <div class="section profile-content">
            <div class="container">
                <div class="owner">

                    <div class="name">
                        <h6>{{user.division}} Division</h6><br />
                    </div>
                </div>
                <div class="row">

                    <div class="form-group element">
                        <label class="name">Officer </label>
                        <label class="name">{{user.firstName}} {{user.lastName}}</label>

                        <!-- <input type="text" class="form-control" value={{field.registrationNumber}}> -->
                    </div>

                    <div class="form-group element">
                        <label class="name">Contact No </label>
                        <label class="name">{{user.phone}}</label>

                    </div>

                    <div class="form-group element">
                        <label class="name">Province </label>
                        <label class="name">{{user.province}}</label>
                    </div>

                    <div class="form-group element">
                        <label class="name">District </label>
                        <label class="name">{{user.district}}</label>
                    </div>

                    <!-- <div class="form-group element">
                        <label class="name">Division : </label>
                        <input type="text" class="form-control" value={{user.division}}>
                    </div> -->
                    <div class="form-group element">
                        <label class="name">No of Farmers </label>
                        <label class="name">{{farmerCount}}</label>
                  <!-- <button (click)="viewFieldVisits()" class="btn btn-outline-default btn-round request"> View Farmers</button> -->

                    </div>


                    <div class="form-group element">
                        <label class="name">No of fields</label>
                        <label class="name">{{fieldCount}}</label>
                        <!-- <button (click)="viewFieldVisits()" class="btn btn-outline-default btn-round request"> View Fields</button> -->

                    </div>
                    <div class="form-group element">
                        <label class="name">No of field visits</label>
                        <label class="name"></label>
                        <!-- <button (click)="viewFieldVisits()" class="btn btn-outline-default btn-round request"> View Field Visits</button> -->

                    </div>


                    <!-- <div class="col-sm-3">
                        <div class="form-group has-success">
                            <input type="text" class="form-control form-control-success" id="inputSuccess1" value="Success">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group has-danger">
                            <input type="text" class="form-control form-control-danger" id="inputDanger1" value="Error">
                            <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false" >
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-group" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="row">

                    <div class="ml-auto mr-auto container">
                        <p>Reg No : {{field.registrationNumber}}</p>
                        <p>Address : {{field.address}}</p>
                        <p>Farmer : {{field.farmer}}</p>
                        <p>Division : {{field.division}}</p>
                        <p>District : {{field.district}}</p>
                        <p>Province : {{field.province}}</p>
                        <br />
                    </div>

                </div> -->
                <!-- <div class="row sub-title">
                    <h6>Field Requests</h6>
                </div> -->
                <div class="row">
                    <ul>
                        <li *ngFor="let index of this.counts">
                            <label *ngIf="index.status=='pending'" class="label label-warning">{{ index.status }} -
                                {{index.count}}</label>
                            <label *ngIf="index.status=='confirmed'" class="label label-primary">{{ index.status }} -
                                {{index.count}}</label>
                            <label *ngIf="index.status=='declined'" class="label label-success">{{ index.status }} -
                                {{index.count}}</label>
                            <label *ngIf="index.status=='processing'" class="label label-success">{{ index.status }} -
                                {{index.count}}</label>
                            <label *ngIf="index.status=='completed'" class="label label-success">{{ index.status }} -
                                {{index.count}}</label>
                        </li>
                    </ul>
                </div>
                <div class="left">
                    <!-- <button class="btn btn-outline-default btn-round update"> Update</button>
                    <button class="btn btn-outline-default btn-round cancel"> Cancel</button> -->
                    <!-- <button (click)="viewFieldVisits()" class="btn btn-outline-default btn-round request"> View Field
                        Requests</button> -->
                    <!-- <button (click)="viewFieldVisits()" class="btn btn-outline-default btn-round request"> View N 
                        Concentrations</button> -->

                </div>
            </div>
        </div>
    </div>
</div>