.content{
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    margin-top: 50px;
    text-align: left;
}

.button-dashboard {
    text-align: center;
    display: flex;
    flex-direction: row;
}